@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
body {
    background-color: #1a2a33;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
.x {
    background-image: url("./assets/icon-x.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    z-index: 999;
}

.circle {
    background-image: url("./assets/icon-o.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    z-index: 999;
}

.game-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 315px;
    height: 40px;
    left: 24px;
    top: 24px;
}
.game-icons {
    margin-left: 15px;
}
.next-player {
    font-size: 14px;
    text-align: center;
    width: 96px;
    height: 40px;
}

.menu-icons {
    cursor: pointer;
    display: flex;
    width: 31.74px;
    height: 31.74px;
    left: 64.23px;
    top: 28px;
    margin-left: 24px;
}
.mask {
    height: 32px;
    width: 32px;
}

.player-turn {
    display: flex;
    width: 96px;
    height: 40px;
    padding: 3px;
    background: #1f3641;
    box-shadow: inset 0px -4px 0px #10212a;
    border-radius: 5px;
    margin-left: -25px;
}
.player_mask {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 40%;
    top: 35%;
}

.next-player {
    position: absolute;
    top: 0;
    left: 40%;
}

.reset-button {
    cursor: pointer;
    background: #a8bfc9;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

#gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    position: absolute;
    top: 128px;
    padding: 0;
    left: 35px;
    gap: 10px;
}
.grid-box,
.info-box {
    background-color: #1f3641;
    height: 96px;
    width: 96px;
    box-shadow: inset 0px -8px 0px #10212a;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
}

.grid-box {
    cursor: pointer;
}

.info-box {
    height: 64px;
    width: 96px;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.game-result {
    display: flex;
    position: absolute;
    width: 328px;
    height: 64px;
    left: 35px;
    top: 476px;
    gap: 10px;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.light_blue {
    background-color: #31c3bd;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
}

.gray {
    background-color: #a8bfc9;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
}

.light_yellow {
    background-color: #f2b137;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
}

.display_player,
.ties {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #1a2a33;
}
.total-wins {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1a2a33;
}

/* pop message*/
.pop_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #050505;
    mix-blend-mode: normal;
    opacity: 0.899;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.hidden {
    display: none;
}

.popup_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f3641;
    width: 100%;
    height: 228px;
    position: absolute;
    top: 30%;
}
.winner_announcer {
    position: absolute;
    height: 20px;
    left: 25.76%;
    right: 36.56%;
    width: 50%;
    top: 0px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #a8bfc9;
}
.winner_text {
    position: absolute;
    top: 10%;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #a8bfc9;
}
.winner_message {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tie_message {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    position: absolute;
    left: 23%;
    color: #a8bfc9;
}
.winner_mask {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 5%;
}

.round_text {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.5px;
    position: absolute;
    right: 20%;
    text-transform: uppercase;
}

.cta_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 15%;
}
.quit_button {
    cursor: pointer;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1a2a33;
    height: 52px;
    width: 76px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #a8bfc9;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
}
.next_round_button {
    cursor: pointer;
    height: 52px;
    width: 146px;
    left: 218px;
    top: 124px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1a2a33;
    border-radius: 0px;
    background: #f2b137;
    box-shadow: inset 0px -4px 0px #cc8b13;
    border-radius: 10px;
}

/* pop message end*/

/*VERY SMALL SCREEN*/

@media screen and (min-width: 320px) and (max-width: 320px) {
    main {
        position: absolute;
        left: 15px;
    }

    .x {
        background-image: url("./assets/icon-x.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-color: #31c3bd;
    }

    .circle {
        background-image: url("./assets/icon-o.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-color: #cc8b13;
    }

    .player_mask {
        height: 16px;
        width: 16px;
        position: absolute;
        left: 20%;
        top: 30%;
    }

    .next-player {
        position: absolute;
        top: 7%;
        left: 10%;
        font-size: 16px;
    }

    .mask {
        height: 22px;
        width: 22px;
    }
    .game-menu {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        width: 280px;
        height: 0;
    }

    .game-icons {
        position: absolute;
        width: 71.97px;
        height: 32px;
        left: -5px;
        top: 35px;
    }

    .player-turn {
        display: flex;
        position: absolute;
        left: 115px;
        top: 24px;
        width: 70px;
    }
    .next-player {
        top: 13%;
        left: 3%;
        text-align: center;
        font-size: 10px;
    }
    .reset-button {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 199px;
        top: 24px;
    }
    #gameboard-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        position: absolute;
        top: 90px;
        padding: 0;
        left: 35px;
        gap: 10px;
    }
    .game-result {
        position: absolute;
        left: 0;
        top: 350px;
        margin: 0px;
        padding: 0px;
        width: 250px;
        left: 35px;
    }

    .grid-box {
        cursor: pointer;
        background-color: #1f3641;
        height: 70px;
        width: 70px;
        font-size: 40px;
        box-shadow: inset 0px -8px 0px #10212a;
        border-radius: 10px;
    }

    .info-box {
        width: 70px;
        height: 60px;
    }

    .winner_mask {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 5%;
    }

    .round_text {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.5px;
        position: absolute;
        right: 20%;
        text-transform: uppercase;
    }
}

/*SMALL SCREENS */

@media screen and (min-width: 360px) and (max-width: 360px) {
    main {
        position: absolute;
        left: -13px;
    }
    .mask {
        height: 22px;
        width: 22px;
    }
    .winner_mask {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 0;
    }
    .game-menu {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 320px;
        height: 40px;
        left: 24px;
        top: 24px;
    }

    .game-icons {
        margin-top: 8px;
        margin-left: 15px;
    }

    .player-turn {
        margin-left: -10px;
    }
    .next-player {
        font-size: 14px;
        text-align: center;
        width: 96px;
        height: 40px;
    }
    #gameboard-container {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        padding: 20px;
        position: absolute;
        top: 128px;
        padding: 0;
        left: 35px;
        gap: 10px;
    }
    .game-result {
        position: absolute;
        left: 0;
        top: 476px;
        margin: 0px;
        padding: 0px;
        width: 328px;
        height: 64px;
        left: 35px;
    }

    .grid-box {
        cursor: pointer;
        background-color: #1f3641;
        width: 96px;
        height: 96px;
        font-size: 60px;
        box-shadow: inset 0px -8px 0px #10212a;
        border-radius: 10px;
        text-align: center;
    }

    .info-box {
        width: 96px;
        height: 64px;
    }
}

@media screen and (min-width: 375px) and (max-width: 375px) {
    .mask {
        height: 22px;
        width: 22px;
    }
    .game-icons {
        margin-top: 8px;
        margin-left: 15px;
    }
    .player-turn {
        margin-left: -10px;
    }
}

@media screen and (min-width: 390px) and (max-width: 428px) {
    main {
        position: absolute;
        left: 3%;
        top: 24px;
    }
    .player-turn {
        margin-left: -5px;
    }
    .mask {
        height: 22px;
        width: 22px;
    }
    .game-icons {
        margin-top: 8px;
        margin-left: 15px;
    }
}

/*MEDIUM  SCREENS  tablet */

@media screen and (min-width: 768px) {
    main {
        position: absolute;
        left: 20%;
    }

    .game-icons {
        margin-top: 8px;
        margin-left: 15px;
    }
    .player-turn {
        width: 140px;
        height: 52px;
        position: absolute;
        left: 185px;
    }
    .player_mask {
        height: 20px;
        width: 20px;
        position: absolute;
        left: 20%;
        top: 35%;
    }

    .next-player {
        position: absolute;
        top: 7%;
        left: 20%;
        font-size: 16px;
    }

    .reset-button {
        position: absolute;
        width: 52px;
        height: 52px;
        left: 398px;
    }
    .game-menu {
        width: 457px;
        height: 52px;
        top: 180px;
    }
    #gameboard-container {
        top: 250px;
    }
    .grid-box {
        width: 140px;
        height: 140px;
        left: 154px;
        font-size: 95px;
        font-weight: bolder;
    }

    .game-result {
        width: 459px;
        height: 72px;
        top: 750px;
    }
    .info-box {
        width: 140px;
        height: 100px;
    }
    .popup_message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1f3641;
        width: 100%;
        height: 228px;
        position: absolute;
        top: 35%;
    }
    .round_text {
        position: absolute;
        right: 40%;
    }
    .winner_mask {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 23%;
    }
    .tie_message {
        left: 36%;
    }
}

/*MEDIA QUERY FOR SCREENS SIZE WITH MIN-WIDTH 1280 AND MAX 0F 1440*/

@media screen and (min-width: 1280px) {
    main {
        left: 35%;
    }
    .grid-box {
        width: 140px;
        height: 140px;
    }

    .info-box {
        width: 140px;
        height: 72px;
    }
    .winner_text {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }
    .round_text {
        font-size: 40px;
        left: 35%;
        text-transform: uppercase;
    }
    .winner_mask {
        left: 30%;
        height: 64px;
        width: 64px;
    }
    .winner_announcer {
        position: absolute;
        height: 20px;
        left: 25.76%;
        right: 36.56%;
        width: 50%;
        top: calc(50% - 20px / 2 - 78px);
        font-family: "Outfit";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        color: #a8bfc9;
    }
    .popup_message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1f3641;
        width: 100%;
        height: 266px;
        position: absolute;
        top: 35%;
    }
    .tie_message {
        left: 38%;
        font-size: 40px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }
}

/*END*/

/* .bgBlue {
  background-color: #31c3bd;
}

.bgYellow {
  background-color: #f2b137;
} */

/* .x_hover {
  background-image: url("./assets/icon-x-outline.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: #31c3bd;
}
.o_hover {
  background-image: url("./assets/icon-o-outline.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: #31c3bd;
} */
