* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2a33;
    width: 100vw;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 460px;
    height: 471px;
}

p {
    color: #a8bfc9;
    text-align: center;
    align-self: center;
}

.rectangle {
    background-color: #1f3641;
    box-shadow: 0px -8px 0px 0px #10212a inset;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#pick {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

#remember {
    text-align: center;
    opacity: 50%;
    fill: Solid #a8bfc9;
}

.toggle {
    background-color: #1a2a33;
    width: 90%;
    height: 72px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.x-img {
    display: flex;
    width: 198px;
    height: 54px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.o-img {
    display: flex;
    background-color: #a8bfc9;
    width: 198px;
    height: 54px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#x {
    height: 32px;
    filter: invert(79%) sepia(32%) saturate(145%) hue-rotate(153deg)
        brightness(90%) contrast(89%);
}

#o {
    height: 32px;
    filter: invert(12%) sepia(12%) saturate(1823%) hue-rotate(157deg)
        brightness(96%) contrast(90%);
}

.new {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

#cpu {
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    height: 67px;
    width: 460px;
    border-radius: 15px;
    color: #1a2a33;
    background-color: #f2b137;
    offset: 0px, -8px #cc8b13;
    box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

#player {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    border: none;
    height: 67px;
    width: 460px;
    border-radius: 15px;
    color: #1a2a33;
    background-color: #31c3bd;
    offset: 0px, -8px #118c87;
    box-shadow: 0px -8px 0px 0px #118c87 inset;
}
/* Hover  start*/
.x-img:hover {
    background-color: #1b303a;
    cursor: pointer;
}

#cpu:hover {
    background-color: #ffc860;
    cursor: pointer;
}
#player:hover {
    background-color: #65e9e4;
    cursor: pointer;
}
/* hover end */

@media only screen and (max-width: 475px) {
    .container {
        width: 327px;
        height: 429px;
    }

    #cpu,
    #player {
        width: 327px;
    }
}
